body {
    display: flex;
    margin: 40px auto;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: space-around;
    flex: auto;
    min-height: 0;
}

.box {
    background-color: #e6ebeb;
    flex: auto;
    min-height: 0;
}

.color {
    background-color: #000000;
    flex: auto;
    min-height: 0;
}

/* GAY MODE STYLING */

.red {
    background-color: red;
    flex: auto;
    min-height: 0;
}

.orange {
    background-color: orange;
    flex: auto;
    min-height: 0;
}

.yellow {
    background-color: yellow;
    flex: auto;
    min-height: 0;
}

.green {
    background-color: green;
    flex: auto;
    min-height: 0;
}

.blue {
    background-color: blue;
    flex: auto;
    min-height: 0;
}

.indigo {
    background-color: indigo;
    flex: auto;
    min-height: 0;
}

.violet {
    background-color: violet;
    flex: auto;
    min-height: 0;
}

/* END GAY MODE */

.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 700px;
    width: 700px;
    background-color: aliceblue;
    flex: 0 1 auto;
    border: 5px solid black;
}

